.vote_image{
	display: block;
    	margin-left: auto;
    	margin-right: auto ;
	padding-top:.5em;
    	max-height:300px;
	//min-width:400px;
	//min-height:299px;
	width:auto;
}

.top_image{
        display: block;
        margin-left: auto;
        margin-right: auto ;
        padding-top:.5em;
        max-height:80px;
        //min-width:400px;
        //min-height:299px;
        width:auto;
}

.table#top-5-table, td {
	border: 1px solid black;
	padding: 1px;
	//vertical-align:middle;
	text-align:center;
}

.table#top-5-table, table {
	max-width: 700px;
 	margin: 0px auto;
}

.header_logo{
	height:50px;
}

#skel-layers-wrapper{
	height:0;
}

#header-wrapper{
	height:50px;
}

.vote_descrip_text{
	min-width:400px;
	max-width:740px;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:.5em;
}
