#vote{
	margin: 0 auto;
	margin-left: 28%;
	width: 45%;
	height: 30%;    
}

.ui.large.circular.image{
	margin-left: 8%;
	max-height: 100%;
	max-width: 100%;

}

#content{
	width: 103%;
	margin-right: 0%;
}

.ui.black.large.message{
	font-size: 1em;
}

#button_holder{
	min-width: 40%;
	margin-left: 30%;
}

#text{
	color: black;
	text-align: center;
}

p{
	font-style: italic;
	color: black;
	text-align: center;
}